<div class="country-card">
<div class="country-img">
    <img class="flags-img" src={{flags.svg}} alt="">
</div>
<div class="country-card-body">
    <h2 class="country-card-title"><b> {{name.official}}</b></h2>
    <p><b>Capital:</b> {{capital}}</p>
    <p><b>Population:</b> {{population}}</p>
    <p><b>Languages:</b> {{languages}}</p>
</div>
</div>
